h1, h2 {
    text-align: center;
    margin: 20px !important;;
}

pre {
    margin-bottom: 0 !important;
}

.colHeader:first-child {
    /*border-color: #fff !important;*/
    /*background-color: #9D79BC !important;*/
}

.colHeader {
    width: 10%;
    height: 20px;
    /*background-color: #8CA0D7;*/
}

.calTable {
    table-layout:fixed !important;
}


.calTable, td {
    overflow: hidden !important;
    padding: 4px !important;
    font-size: 12px;
    text-align: center !important;
} 

.btn {
    margin: 11px;
}

#nextWeek {
    float: right;
}




/*
Potential color pallete
#91C4F2 = light blue
#8CA0D7 = blue
#9D79BC = lilac
#A14DA0 = light purple
#7E1F86 = max purple
*/